<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about.jpg" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Strong Coffee, Strong Roots</span>
              <span class="section-heading-lower">Thông tin về quán</span>
            </h2>
            <p>Quán chúng tôi có thâm niên hơn 20 năm trong ngành cà phê, cơ sở hiện
              tại được xây dựng từ năm 2007 và đã không ngừng được nâng cấp kể từ đó
              cho đến nay. Chúng tôi không ngừng nâng cao chất lượng sản phẩm với nhiều
              hạt cà phê từ địa phương cho đến trên khắp đất nước để tạo nên những ly
              cà phê thơm ngon đến cho bạn.</p>
            <p class="mb-0">Chúng tôi đảm bảo rằng bạn sẽ say mê với công thức cà phê đặc biệt
              mà chúng tôi mang đến ngay từ những giọt đầu tiên và cho đến những ngụm cuối cùng.
              Tạo thói quen hằng ngày với một ly cà phê giúp đầu óc tỉnh táo, tập trung cho công việc.
              Hay đơn giản chỉ là để tận hưởng khoảng thời gian một mình, bạn nhé !
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>