<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/intro.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Tỉnh táo làm việc ? </span>
                    <span class="section-heading-lower">Cà phê đi <br> chờ chi </span>
                </h2>
                <p class="mb-3">Mỗi tách cà phê chất lượng của chúng tôi đều được làm  
                    từ những nguyên liệu được chọn lọc thủ công có nguồn gốc địa phương. 
                    Một khi bạn thử, cà phê của chúng tôi sẽ là một thức uống tuyệt
                    vời cho buổi sáng của bạn - Chúng tôi đảm bảo điều đó!
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" href="https://www.facebook.com/phuocleoceo/" target="_blank">Visit Us Today!</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Lời hứa mà chúng tôi</span>
                        <span class="section-heading-lower">Dành cho bạn</span>
                    </h2>
                    <p class="mb-0">Khi bạn bước vào cửa hàng của chúng tôi để bắt đầu 
                        một ngày mới, chúng tôi luôn tận tâm cung cấp cho bạn dịch vụ 
                        thân thiện, bầu không khí chào đón và hơn hết là những sản phẩm 
                        tuyệt vời được làm từ những nguyên liệu có chất lượng cao nhất. 
                        Nếu bạn không hài lòng, vui lòng cho chúng tôi biết và chúng tôi 
                        sẽ làm bất cứ điều gì có thể để khắp phục!</p>
                </div>
            </div>
        </div>
    </div>
</section>

