<div>
    <br><br><br>
    <h1>Bảng điểm học kì II</h1>
    <h3>Tên sinh viên : Trương Minh Phước</h3>
    <h3>Lớp : 19TCLC_DT6</h3>
    <br>
</div>

<table align="center">
    <tr>
        <th>Tên môn học</th>
        <th>Số tín chỉ</th>
        <th>Chuyên cần</th>
        <th>Giữa kì</th>
        <th>Cuối kì</th>
        <th>Điểm T10</th>
        <th>Điểm T4</th>
    </tr>
    <tr>
        <td>Phương pháp tính</td>
        <td>2</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>4</td>
    </tr>
    <tr>
        <td>Cấu trúc dữ liệu</td>
        <td>2</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>4</td>
    </tr>
    <tr>
        <td>PBL2 : Đồ án cơ sở</td>
        <td>2</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>4</td>
    </tr>
</table>
<br><br><br>
