.card-drink-item{
    margin-top: 24px;
    margin-bottom: 24px;
}
.detail{
    display: flex;
}
.price{
    margin-top:5px;
}
a{
    color: black;
    text-decoration: none;
}
.detail-name{
    font-size: 40px;
    color:yellowgreen;
}
.detail-description{
    font-size: 20px;
    color: yellow;
    width: 550px;
}
